@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500;600;700&display=swap");
:root {
  --main-font: "Wix Madefor Display", sans-serif;
  --white: #fff;
  --yellow: #F9E152;
  --gray: #444853;
  --dark-background: #3B4664;
  --dark-screen: #181F32;
  --dark-calculator: #252D44;
  --light-background: #E6E6E6;
  --light-screen: #EEEEEE;
  --light-calculator: #D3CDCD;
  --neon-background: #17062A;
  --neon-screen: #1E0836;
  --neon-calculator: #1E0836;
  /* BUTTONS */
  --dark: #EAE3DB;
  --dark-shadow: #B2A295;
  --dark-hover: #FFFFFF;
  --light: #E5E4E0;
  --light-shadow: #A79D91;
  --light-hover: #FFFFFF;
  --neon: #331B4D;
  --neon-shadow: #851C9D;
  --neon-hover: #6B34AC;
  /* RESET */
  --reset-dark: #667196;
  --reset-dark-shadow: #424E74;
  --reset-dark-hover: #A2B3E1;
  --reset-light: #4C8085;
  --reset-light-shadow: #196167;
  --reset-light-hover: #62B5BD;
  --reset-neon: #4F1077;
  --reset-neon-shadow: #BA17F7;
  --reset-neon-hover: #8631B0;
  /* EQUAL */
  --equal-dark: #C14A39;
  --equal-dark-shadow: #8F2316;
  --equal-dark-hover: #F96C5B;
  --equal-light: #BA5B22;
  --equal-light-shadow: #903800;
  --equal-light-hover: #FF8B38;
  --equal-neon: #65DBCF;
  --equal-neon-shadow: #47FDF1;
  --equal-neon-hover: #94FFF9;
}

.top-section {
  padding: 10px 2px;
  display: flex;
  justify-content: space-between;
  color: var(--white);
}

.theme-selector {
  display: flex;
  align-items: center;
}
.theme-selector .theme {
  font-size: 8px;
  letter-spacing: 1.1px;
  font-weight: bold;
}

.screen {
  border-radius: 10px;
  margin-bottom: 20px;
  color: var(--white);
  text-align: right;
}
.screen .top-screen {
  font-size: 16px;
}
.screen .current-value {
  font-size: 30px;
  font-weight: bold;
}
@media (min-width: 500px) {
  .screen .current-value {
    font-size: 40px;
  }
}

/* CALCULATOR SECTION */
.calculator {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}
@media (min-width: 500px) {
  .calculator {
    grid-gap: 20px;
  }
}

button {
  border: none;
  padding: 10px 5px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--gray);
}
@media (min-width: 500px) {
  button {
    font-size: 28px;
  }
}

#reset, #equal, #delete {
  font-size: 16px;
}
@media (min-width: 500px) {
  #reset, #equal, #delete {
    font-size: 20px;
  }
}

#reset {
  grid-area: 5/1/6/3;
}

#equal {
  grid-area: 5/3/6/5;
}

/* THEME STYLES */
.light-theme {
  background: var(--light-background);
}
.light-theme .screen {
  background: var(--light-screen);
}
.light-theme .calculator {
  background: var(--light-calculator);
}
.light-theme .calculator button {
  background: var(--light);
  box-shadow: 0px 4px 0px var(--light-shadow);
}
.light-theme .calculator button:hover {
  background: var(--light-hover);
  cursor: pointer;
}
.light-theme .calculator #delete, .light-theme .calculator #reset {
  background: var(--reset-light);
  box-shadow: 0px 4px 0px var(--reset-light-shadow);
  color: var(--white);
}
.light-theme .calculator #delete:hover, .light-theme .calculator #reset:hover {
  background: var(--reset-light-hover);
}
.light-theme .calculator #equal {
  background: var(--equal-light);
  box-shadow: 0px 4px 0px var(--equal-light-shadow);
  color: var(--white);
}
.light-theme .calculator #equal:hover {
  background: var(--equal-light-hover);
}

.dark-theme {
  background: var(--dark-background);
}
.dark-theme .screen {
  background: var(--dark-screen);
}
.dark-theme .calculator {
  background: var(--dark-calculator);
}
.dark-theme .calculator button {
  background: var(--dark);
  box-shadow: 0px 4px 0px var(--dark-shadow);
}
.dark-theme .calculator button:hover {
  background: var(--dark-hover);
  cursor: pointer;
}
.dark-theme .calculator #delete, .dark-theme .calculator #reset {
  background: var(--reset-dark);
  box-shadow: 0px 4px 0px var(--reset-dark-shadow);
  color: var(--white);
}
.dark-theme .calculator #delete:hover, .dark-theme .calculator #reset:hover {
  background: var(--reset-dark-hover);
}
.dark-theme .calculator #equal {
  background: var(--equal-dark);
  box-shadow: 0px 4px 0px var(--equal-dark-shadow);
  color: var(--white);
}
.dark-theme .calculator #equal:hover {
  background: var(--equal-dark-hover);
}

.neon-theme {
  background: var(--neon-background);
}
.neon-theme .screen {
  background: var(--neon-screen);
}
.neon-theme .calculator {
  background: var(--neon-calculator);
}
.neon-theme .calculator button {
  background: var(--neon);
  box-shadow: 0px 4px 0px var(--neon-shadow);
  color: var(--yellow);
}
.neon-theme .calculator button:hover {
  background: var(--neon-hover);
  cursor: pointer;
}
.neon-theme .calculator #delete, .neon-theme .calculator #reset {
  background: var(--reset-neon);
  box-shadow: 0px 4px 0px var(--reset-neon-shadow);
  color: var(--white);
}
.neon-theme .calculator #delete:hover, .neon-theme .calculator #reset:hover {
  background: var(--reset-neon-hover);
}
.neon-theme .calculator #equal {
  background: var(--equal-neon);
  box-shadow: 0px 4px 0px var(--equal-neon-shadow);
  color: #000;
}
.neon-theme .calculator #equal:hover {
  background: var(--equal-neon-hover);
}

.attribution {
  font-size: 14px;
  padding: 10px 5px;
  background: var(--light);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-align: center;
  background-color: var(--background);
}

/* MAIN STYLES */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

main {
  display: grid;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  flex-grow: 1;
}
@media (min-width: 500px) {
  main {
    width: 500px;
  }
}

a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.padding {
  padding: 20px;
}
@media (min-width: 500px) {
  .padding {
    padding: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
