@import './styles/variables.css';
@import './styles/calculator.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-align: center;
  background-color: var(--background-color);
}

/* MAIN STYLES */

a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
