@import './styles/variables';
@import './styles/screen';
@import './styles/calculator';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  text-align: center;
  background-color: var(--background);
}

/* MAIN STYLES */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

.padding {
  padding: 20px;
  @media(min-width: 500px) {
    padding: 30px;
  }
}

a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

main {
  width: 90%;
  margin: 0 auto;
  @media(min-width: 500px) {
    width: 500px;
  }
}
